body{
    background: #BDBDBD;
}


img{
    height:300px;    
    width:300px;
    object-fit: cover;
 } 


#jumbotron h1 {
    font-size: 150px
}
#jumbotron h2 {
    margin-top: 25px;
    font-size: 80px
}
