<!-- your html code here -->
<div class="container pb-5">
    <div class="letters">
        <h1 id="contact">Contact</h1>
        <p>Donex ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent comodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="area-contact bg-light p-2">
        <form>
            <div class="row mb-3">
                <label for="colFormLabel" class="col-2 col-form-label"><strong>Your email</strong></label>
                <div class="col-10">
                    <input type="email" class="form-control" id="colFormLabel" placeholder="Your email">
                </div>
            </div>
            <div class="row mb-3">
                <label for="exampleFormControlTextarea1" class="col-2 col-form-label"><strong>Your message</strong></label>
                <div class="col-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
            </div>
            <div class="col-12 justify-content-end d-flex">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>