


<!-- your html code here -->
<div class=" border border-light heading-bar container d-flex justify-content-end ">
    <div class="flex-fill pt-4 pb-2 ps-4 pe-4">
       <h3><strong>The First Heading</strong><span class="text-muted"> Will Catch Your Eye.</span></h3>
       <p>Donex ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br> euismod semper. Praesent comodo cursus magna, vel scelerisque nisl<br>consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
   <img class="flex-fill rounded-circle p-2" src="assets/img/1.jpg" alt="">
</div>
