<div class="container mt-5 mb-5 pb-3 ps-2 pe-5 ">
    <h3 class="fw-bold">Portfolio</h3>
    <p>Donex ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        comodo cursus<br> magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    <div class="row g-2">
        <div class="col-12 col-md-4">
            <div class="card  flex-fill">
                <img src="assets/img/big-project-image_700x400.png" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title fw-bold">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <img src="assets/img/big-project-image_700x400.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p>

                </div>
            </div>

        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <img src="assets/img/big-project-image_700x400.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Project Name</h5>
                    <p class="card-text p-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p>

                </div>
            </div>

        </div>
    </div>
</div>