
<!-- your html code here -->
<div class="ps-2 mt-3 container d-flex justify-content-end">
    <img class="img-fluid rounded-circle pt-2 pb-2 pe-2 ps-2 " src="assets/img/2.jpg" alt="">
    <div class="flex-fill p-1 pt-4">
      <h3><strong>The Second Heading</strong><span class="text-muted">Is Pretty Cool Too.</span></h3>
      <p>Donex ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br> euismod semper. Praesent comodo cursus magna, vel scelerisque nisl consectetur.<br> Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>



